@model MobileCRM.Models.RegisterModel
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
@{
    ViewBag.Title = "ДельтаКредит - Регистрация нового пользователя";
}

<div class="wrapper pd-reg bg">
        <div class="row center-block card reg">
            <div class="col-md-12">
                <div class="form-group">
                    <a href="https://www.deltacredit.ru" class="simple-text">
                        <img src="@Url.Content("~/Content/img/logo.png")" width="100%">
                    </a>
                </div>
            </div>
            <form method="post" action="/Account/Register" class="log-form" id="registerForm">
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <h3>Регистрация</h3>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Логин</label>
                        @Html.TextBoxFor(t=>t.Login, new { @class= "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.Login)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Фамилия</label>
                        @Html.TextBoxFor(t => t.Surname, new { @class = "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.Surname)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Имя</label>
                        @Html.TextBoxFor(t => t.Name, new { @class = "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.Name)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Отчество</label>
                        @Html.TextBoxFor(t => t.Patronymic, new { @class = "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.Patronymic)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Пароль</label>
                        @Html.PasswordFor(t => t.Password, new { @class = "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.Password)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Подтверждение пароля</label>
                        @Html.PasswordFor(t => t.ConfirmPassword, new { @class = "form-control border-input" })
                        @Html.ValidationMessageFor(t => t.ConfirmPassword)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger btn-fill btn-wd">Создать аккаунт</button>
                        </div>
                    </div>
                </div>
           </form>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="text-center">
                        <a href="Login">Войти в аккаунт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




