@model MobileCRM.Models.Credit

@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
@{
    ViewBag.Title = "ДельтаКредит - Кредитное дело";
}

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://www.deltacredit.ru" class="simple-text">
                    <img src="@Url.Content("~/Content/img/logo.png")" width="90%">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/Home/Userprofile">
                        <i class="ti-user"></i>
                        <p>Личный кабинет</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Addcreditprofile">
                        <i class="ti-plus"></i>
                        <p>Кредитное дело</p>
                    </a>
                </li>
                <li>
                    <a href="/Home/Creditlist">
                        <i class="ti-view-list-alt"></i>
                        <p>Кредитные дела</p>
                    </a>
                </li>
                @if (ViewBag.Role == "Программист")
                {
                    <li>
                        <a href="/Home/Errorlist">
                            <i class="ti-view-list-alt"></i>
                            <p>Список ошибок</p>
                        </a>
                    </li>
                }
                @if (ViewBag.Role != "Пользователь")
                {
                    <li>
                        <a href="/Home/Userlist">
                            <i class="ti-view-list-alt"></i>
                            <p>Пользователи</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Кредитное дело</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Account/Logoff">
                                <i class="ti-user"></i>
                                <p>Выйти</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Фото</h4>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <img src="@Url.Content(Model.Photo)" width="100%" id="photo">
                                    <div class="text-center">
                                        <input type="file" name="upload" id="uploadFile" />
                                        <button id="submit" class="btn btn-danger btn-fill btn-wd photo">Загрузить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Комментарии</h4>
                            </div>
                            <div class="content" id="comments">
                                @Html.Partial("AddComment")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Информация</h4>
                            </div>
                            <div class="content">
                                <div id="profiles">
                                    <form method="post" action="/Home/Creditprofile">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>ID Кредитного дела</label>
                                                    <input type="text" class="form-control border-input" value="@Model.Id" disabled>
                                                    @Html.HiddenFor(t => t.Id, new { @id = "Id"})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Фамилия</label>
                                                    @Html.TextBoxFor(t => t.Surname, new { @class = "form-control border-input" } )
                                                    @Html.ValidationMessageFor(t => t.Surname)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Имя</label>
                                                    @Html.TextBoxFor(t => t.Name, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(t => t.Name)
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Отчество</label>
                                                    @Html.TextBoxFor(t => t.Patronymic, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(t => t.Patronymic)
                                                </div>
                                            </div>
                                        </div>
                                            @Html.HiddenFor(t => t.Photo, new { @class = "form-control border-input", @id = "PhotoProfile" })
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Дата рождения</label>
                                                    <input type="date" class="form-control border-input" value="@ViewBag.Credit.Birthday.ToString("yyyy-MM-dd")" min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" id="BirthdayHtml">
                                                    @Html.HiddenFor(t => t.Birthday, new { @id = "Birthday" })
                                                    @Html.ValidationMessageFor(t => t.Birthday)
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Почта</label>
                                                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(t => t.Email)
                                                </div>
                                            </div>
                                        </div>
                                        <label>Телефон</label>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(t => t.PhoneNumber, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(t => t.PhoneNumber)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <a href="tel:@Model.PhoneNumber" class="btn btn-danger btn-fill btn-wd" id="call">Позвонить</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Источник обращения</label>
                                                    <select class="form-control border-input" id="SourceHtml" required>
                                                        @if (Model.Source == "Агентство недвижимости")
                                                        {
                                                            <option value="Агентство недвижимости" selected>Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "Частный риелтор")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор" selected>Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "Наружная реклама")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама" selected>Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "Банк партнер")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер" selected>Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "Интернет")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет" selected>Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "Личный кабинет")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет" selected>Личный кабинет</option>
                                                            <option value="РосБанк">РосБанк</option>
                                                        }
                                                        @if (Model.Source == "РосБанк")
                                                        {
                                                            <option value="Агентство недвижимости">Агентство недвижимости</option>
                                                            <option value="Частный риелтор">Частный риелтор</option>
                                                            <option value="Наружная реклама">Наружная реклама</option>
                                                            <option value="Банк партнер">Банк партнер</option>
                                                            <option value="Интернет">Интернет</option>
                                                            <option value="Личный кабинет">Личный кабинет</option>
                                                            <option value="РосБанк" selected>РосБанк</option>
                                                        }
                                                    </select>
                                                    @Html.HiddenFor(t => t.Source, new { @id = "Source" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Место работы</label>
                                                    @Html.TextBoxFor(t => t.Work, new { @class = "form-control border-input" })
                                                    @Html.ValidationMessageFor(t => t.Work)
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" id="btnform" name="btnform" hidden></button>
                                    </form>
                                </div>

                                <div id="stories">
                                    @Html.Partial("AddStory")
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger btn-fill btn-wd mg" id="save">Сохранить</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#SourceHtml').on('change', function (e) { $('#Source').val($('#SourceHtml :selected').val()) });
    $('#BirthdayHtml').on('change', function (e) { $('#Birthday').val($('#BirthdayHtml').val()) });
</script>